
@font-face {
  font-family: 'Nature';
  src: url("../fonts/Nature-Beauty.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open';
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open';
  src: url("../fonts/OpenSans-Light.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Open';
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open';
  src: url("../fonts/OpenSans-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
