.loading {
  .title {
    position: relative;
    top: 320px;
    left: 55px;
    color: #fff;
    font-size: 75px;
    font-family: "Nature";
  }
}

.landing {

  background-color: #7F0CB1;

  .prompt {
    position: absolute;
    text-align: center;
    bottom: 180px;
    z-index: 1;
    font-size: 15px;
    font-weight: 100;
    color: #fff;
    margin-left: 45px;
  }

  .ball {
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.question {

  &.options-12 {
    .prompt {
      margin-top: 65px;
    }
    .options {
      margin-left: 45px;
      .option {
        margin-right: 15px;
      }
    }
  }

  &.options-8 {
    .prompt {
      margin-top: 70px;
    }
  }

  .prompt {
    font-size: 20px;
    text-align: center;
    margin: 150px auto 0 auto;
  }

  .options {
    margin-left: 90px;
  }

  .option {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 30px;
    margin-top: 20px;
    background-color: #eee;
    border-radius: 50%;
    text-align: center;
  }

  .option.selected {
    background-image: linear-gradient(to bottom right, #ffe88a, #ff84ed);
  }

  .emoji {
    display: block;
    vertical-align: middle;
    width: 80px;
    height: 80px;
    margin: 10px auto;
  }
}

.progression {

  margin: 25px 0 0 23px;

  span {
    display: inline-block;
    width: 42px;
    height: 15px;
    margin-right: 2px;
    border-radius: 7px;
  }
  .colored {
    background-image: linear-gradient(to bottom right, #F6D242, #FF52E5);
  }
  .blank {
    //background-image: linear-gradient(to bottom right, #F6D242, #FF52E5);
    background-color: #eeeeee;
  }
}

.spinner {

  background-image: linear-gradient(to bottom right, #F6D242, #FF52E5);

  .spinner-lid {
    margin-left: 110px;
    margin-top: 200px;
  }

  img {
    animation: bounce 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
}

.result {
  text-align: center;

  .prefix {
    display: inline-block;
    margin-top: 40px;
  }

  h1 {
    font-weight: 200;
    font-size: 3em;
  }

  .desc, .bio {
    padding: 0 25px;
  }

  span {
    display: inline-block;
    margin-top: 40px;
    font-weight: 200;
  }

  div {
    width: 90%;
    margin: 5%;
    vertical-align: center;
    padding: 10px 7px;
    font-size: 1.3em;
    border-radius: 2px;

    &.share {
      background-image: linear-gradient(to bottom right, #F6D242, #FF52E5);
      color: #fff;
    }

    &.repeat {
      border: 1px solid #ffb3f8;
      color: #ff84ed;
    }
  }

  .emojis {
    margin: 40px 0 0 40px;
    .emoji {
      width: 50px;
      margin-right: 30px;
    }
  }
}

@keyframes bounce {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(0, 100px, 0); }
}
